		<footer class="footer noselect">
			<div class="container text-center">
			    <span>© <script type="text/javascript">document.write(new Date().getFullYear())</script> Company Name </span>
			</div>
		</footer>