		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Balamurugan Kandan">
		<meta name="generator" content="Jekyll v3.8.5">
		<title>GPS Robot</title>

		<!-- Bootstrap core CSS -->
		<link href="/plugins/bootstrap-4.3.1/dist/css/bootstrap.min.css" rel="stylesheet"/>

		<!-- Custom CSS -->
		<link href="/css/style.css" rel="stylesheet"/>
		<link href="/css/toastr.min.css" rel="stylesheet"/>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    	<link rel="stylesheet" href="http://leaflet.github.io/Leaflet.label/leaflet.label.css" />
    	<link rel="stylesheet" href="/plugins/leaflet_toolbar/leaflet.toolbar-src.css" />
    	<link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css"/>