<!doctype html>
<html lang="en">
	<head>
		{{>header}}

		<!-- JavaScript start -->
		{{>javascript}}

		<!-- Navigation -->
		{{>navigation}}
	</head>
	<body>
		<!-- Content -->
		{{{body}}}

		<!-- Footer start -->
		{{>footer}}
	</body>
</html>
