    	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    	<script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>

		<!-- Content start -->
		<!-- div id="container" -->
			<div id="map"></div>
		<!-- /div -->
		<div class="jostick-container text-muted">
			<div id="joystick" class="joystick-right noselect"></div>
		</div>

		<script type="text/javascript" src="/plugins/nipplejs.js"></script>
		<script type="text/javascript" src="/plugins/sweetalert/sweetalert.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.72.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/plugins/leaflet_toolbar/leaflet.toolbar-src.js"></script>
		<script type="text/javascript" src="/js/roslibjs_wrapper/ros_connection.js"></script>
		<script type="text/javascript" src="/js/roslibjs_wrapper/ros_topic.js"></script>
		<script type="text/javascript" src="/js/map/joystick.js"></script>
		<script type="text/javascript" src="/js/map/osm_map.js"></script>
		<script type="text/javascript" src="/js/map/map_init.js"></script>
		<!-- Content end   -->